/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 ene 2023, 1:25:11
    Author     : Ricardo Santiago Tomé
*/
#divError{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 7rem;
    height: 18rem;
}
#divError h2{
    text-align: center;
    font-family: 'LatoLightItalic';
    font-weight: bold;
    font-size: 36px;
    color: #3367ac;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
#divError h3{
    font-family: 'LatoLight';
    font-size: 24px;
    font-weight: 400;
    color: #99a0a1;
    border-bottom: 2px solid #99a0a1 ;
    width: 400px;
    margin: 2.5rem auto;
}
#volver{
    align-items: center;
    justify-content: center;
    min-height: 2.5rem;
    padding: 0 2rem;
    cursor: pointer;
   background-color: #d9c7c7;
    font-weight: bold;
    font-size: 22px;
    color: #344079;
}
#volver:hover{
    background-color: #344079;
    color: #d9c7c7;
}
form{
    position: relative;
}
table caption{
    font-family: 'LatoLight';
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    text-decoration:underline solid  #333333;
    padding-bottom: 1rem;
}
table{
    position: absolute;
    margin-top: 6rem;
    border: 2px solid #99a0a1;
    color: #99a0a1;
    width: 60%;
    left: 50%;
    transform: translate(-50% ,-50%);
}