/* 
    Created on : 30 ene 2023, 0:46:03
    Author     : Ricardo Santiago Tomé
*/
*{
    list-style: none;
}
main{
    height: 80%;
}
#divRest{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#divRest h2{
    text-align: center;
    font-family: 'LatoLightItalic';
    font-weight: bold;
    font-size: 36px;
    color: #3367ac;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
#divRest h3{
    font-family: 'LatoLight';
    font-size: 24px;
    font-weight: 400;
    color: #99a0a1;
    border-bottom: 2px solid #99a0a1 ;
    width: 400px;
    margin: 2.5rem auto;
}
#divPalabra{
    padding-top: 2rem;
}
fieldset{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    height: 350px;
    flex-wrap: wrap;
    position: relative;
}
#divPalabra{
    display: flex;
}
#instruccione{
    position: absolute;
    padding-top: 2rem;
}
#palabra{
    height: 40px;
    font-family: 'LatoLightItalic';
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    text-decoration: #344079 underline;
    text-underline-offset:3px;
}
#labelPalabra{
    font-family: 'LatoLight';
    font-weight: bold;
    font-size: 24px;
}
#volver{
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin: 2rem auto;
    cursor: pointer;
    background-color: #d9c7c7;
    font-weight: bold;
    font-size: 22px;
    color: #344079;
    width: 7rem;
}
#volver:hover{
    background-color: #344079;
    color: #d9c7c7;
}
#buscar{
    align-items: center;
    justify-content: center;
    height: 3rem;
    margin: 2rem auto;
    cursor: pointer;
    background-color: #344079;
    color: white;
    font-weight: bold;
    font-size: 22px;
    width: 7rem;
}
#buscar:hover{
    background-color: white;
    color: #344079;
}
#formRest{
    width: 70%;
    height: 20%;
}
table caption{
    font-family: 'LatoLight';
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    text-decoration:underline solid  #333333;
    padding-bottom: 1rem;
}
table{
    color: #99a0a1;
    width: 70%;
    height: 100%;
    padding-bottom: 6rem;
    margin-bottom: 6rem;
}
table,td,th{
    border: 1px solid #99a0a1;
    border-collapse: collapse;
}
th{
    text-transform: capitalize;
}
td,th{
    height: 2rem;
}