*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato-Regular';
}
body{
    background-color: #fff;
    font-family: 'LatoRegular';
    width: 100vw;
    height: 100%;
    min-height: 950px;
}
main{
    width: 100vw;
}
main,article{
    margin-bottom: 6rem;
}
header h1,header h2,header h3{
    width: 80%;
    margin: 0 auto;
}
#headerInicioPublico,#headerId{
    display: flex;
    text-align: center;
    width: 100%;
    height: 4rem;
    position: absolute;
    top: 0%;
    flex-direction: column;
    margin-bottom: 2rem;
    letter-spacing: 5px;
}
#headerInicioPublico p{
    background-color: #344079;
    font-family: 'LatoBold';
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
    width: 100vw;
}
#headerInicioPublico h1,#headerId h1{
    font-family: 'LatoBlackItalic';
    font-weight: bold;
    font-size: 30px;
}
#labelInicioPublico{
    position: absolute;
    width: 80px;
    height: 180px;
    display: block;
    border-radius: 5px;
    top: -30px;
    left: 18px;
}
#labelInicioPublico::before{
    content: "";
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    background-color: #344079;
    position: absolute;
    left: 4px;
    top: 70px;
    box-shadow: 0 8px 0 #344079,
        0 16px 0 #344079;
}
#formInicioPublico{
    height: 3rem;
    position: absolute;
    top: 30px;
    right: 60px;
}
#fieldsetInicioPublico{
    border: none;
    position: relative;
}
#login {
    background: url(../media/persona1.png);
    color: transparent !important;
    display: flex;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: absolute;
    top: 5px;
}
#divReloj{
    background-color: #00cea7;
    background-color: transparent;
    padding: 3px;
    border: 3px solid #F5FEFF;
    font-family: 'Digital Numbers';
    min-width: 165px;
    border-radius: 5px;
    
}
footer img{
    height: 30px;
    width: 20px;
    background-color: transparent;
    border-radius: 5px;
    padding: 1px;
}
.puntos{
    height: 25px;
    width: 15px;
}
#tecnologias{
    align-items: center;
    justify-content: center;
    min-height: 2.25rem;
    cursor: pointer;
    background-color: #344079;
    color: white;
    font-weight: bold;
    font-size: 22px;
    width: 9rem;
    text-align: center;
    animation-name: backgroundColorPalette;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#tecnologias:hover{
    background-color: white;
    color: #344079
}
#enlaceSecundario,#enlacePrincipal {
    color: #666666;
    font-size: 20px;
}
#github,#linkedin,#curriculum,#rss,#php{
    clear: both;
    text-decoration: none;
}
#github:before{
    font-family: 'Fontawesome';
    content:'\f09b';
    background-color:#FFC9B5;
    font-size: 2em;
    border-radius: 50%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#linkedin:before,#login{
    color: #FFC9B5;
    font-family: 'FontaWesome';
    content: '\f08c';
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#curriculum:before,rss:before,#php:before{
    color: #FFC9B5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#linkedin,#rss,#php{
    color: #FFC9B5;
}
#curriculum span,#rss span,#php span{
    color: #FFC9B5;
    font-size: 30px;
    padding-top: 10px;
}
#github,#linkedin{
    padding-top: 10px;
}
#rss{
    background: transparent;
    border-style: none;
}
footer p{
    padding-top: 15px;
    font-size: 20px;
}
#ganso{
    font-size: 24px;
    color: #666666;
}
footer {
    clear: both;
    height: 90px;
    position: fixed;
    justify-content: space-evenly;
    display: flex;
    float: left;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #516D99;
    color: #F5FEFF;
    opacity: 0.9;
    align-content: stretch;
    flex-direction: row;
    align-items: center;
    z-index: 20;
    color:#666666;
    background-color: white;
    z-index: 100 !important;
}